.env
.claude
backend/test-pdf/
CLAUDE.md
.rtk/
.codex
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
