
@font-face {
  font-family: 'Plus Jakarta Sans-SemiBold';
  font-style: normal;
  font-weight: 200 800;
  src: url(../font/PlusJakartaSans_wght__1.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Plus Jakarta Sans-Regular';
  font-style: normal;
  font-weight: 200 800;
  src: url(../font/PlusJakartaSans_wght__1.ttf) format(truetype);
}

		
@font-face {
  font-family: 'Plus Jakarta Sans-Medium';
  font-style: normal;
  font-weight: 200 800;
  src: url(../font/PlusJakartaSans_wght__1.ttf) format(truetype);
}

		